textarea {
    width: 100%;               /* Set width */           /* Set height */
    padding: 10px;            /* Inner spacing */
    border: 1px solid #ccc;   /* Border style */
    border-radius: 5px;       /* Rounded corners */
    font-size: 16px;          /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    resize: vertical;         /* Allow vertical resizing only */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Optional: Change border color on focus */
textarea:focus {
    border-color: #007BFF;   /* Change border color on focus */
    outline: none;           /* Remove default outline */
}

.textarea-notes-report{
    min-height: 300px;
}

.newMaintenanceReport-crear-button{
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: 'Lucida Sans';
}