/* Sidebar.css */
.sidebar {
    width: 14%;
    background-color: #262B49; /* Dark background for the sidebar */
    padding: 20px;
    height: 100%;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    
}

.sidebar-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0; /* Ensure no default margin */
}

.sidebar-item {
    margin: 10px 0; /* Spacing between items */
    padding: 10px; /* Padding inside each list item */
    /* border-radius: 4px; 
    border: 1px solid #ffffff;  */
    background-color: #1f2448; 
}

.sidebar-item:hover {
    background-color: #4a4a8f; /* Change background color on hover */
}

.sidebar-link {
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Text color */
    display: flex; /* Flexbox for aligning items */
    align-items: center; /* Center items vertically */
    font-family: 'Roboto', sans-serif; /* Font style for the link text */
    font-size: 0.9rem; /* Font size for the link text */
    font-weight: 500; /* Font weight for the link text */
    font-family: 'Verdana';
}

.sidebar-icon {
    width: 30px; /* Icon width */
    height: 30px; /* Icon height */
    margin-right: 15px; /* Space between icon and text */
}
