.assetsPage {
    background-color: #212e49;
    min-width: 50%;
    min-height: 100%;
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1rem;
}

.assetsPage h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    color:rgb(255, 255, 255)
}

.assetsPage h2{
    color: yellow;
}

.assetsPage h3{
    color: yellow;
}

.filterBoxes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.filterBoxes div {
    display: flex;
    align-items: center;
    background-color: #2b4d70; /* Fondo de las cajas de filtro */
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    transition: all 0.3s ease; /* Transición suave para el hover */
    min-width: 200px; /* Tamaño mínimo de las cajas */
}

.filterBoxes div:hover {
    background-color: #6284a3; /* Fondo más claro al hacer hover */
    transform: scale(1.05); /* Aumento de tamaño al hacer hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa al hacer hover */
}

label {
    margin-right: 10px;
    font-size: 1.2em;
}

select {
    padding: 10px; /* Mayor padding para mayor comodidad */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
    transition: all 0.3s ease; /* Transición suave para el hover */
}

select:hover {
    border-color: #2b84ba; /* Color de borde al hacer hover */
    background-color: #ecf0f1; /* Fondo más claro al hacer hover */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    /* background-color: #34495e; */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 1.4rem;
    cursor: pointer;
}

li:hover {
    background-color: #8097ad;
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.assetsLegend {
    width: 100%;
    display: flex;
    align-items: center; /* Alineación vertical en el centro */
    justify-content: flex-start; /* Alineación horizontal a la izquierda */
    gap:5px;
    font-size: 1rem;
}

.assetsLegend h3 {
    margin: 0; /* Elimina margen alrededor del título */
    color: yellow; /* Color del texto del título *//* Espacio entre el título y el texto */
}

.assetsLegend p {
    margin: 0; /* Elimina márgenes por defecto */
    color: white; /* Color del texto en la leyenda */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Elementos de la leyenda */


.operational {
    background-color: rgba(21, 205, 52, 0.173);
}

.under-maintenance {
    background-color: rgba(255, 166, 0, 0.173);
}

.decomissioned {
    background-color: rgba(255, 0, 0, 0.173);
}

li.operational {
    background-color: rgba(21, 205, 52, 0.173);
}

li.operational:hover {
    background-color: rgba(21, 205, 52, 0.8); /* Stronger color on hover */
}

li.under-maintenance {
    background-color: rgba(255, 166, 0, 0.173);
}

li.under-maintenance:hover {
    background-color: rgba(255, 166, 0, 0.8); /* Stronger color on hover */
}

li.decomissioned {
    background-color: rgba(255, 0, 0, 0.173);
}

li.decomissioned:hover {
    background-color: rgba(255, 0, 0, 0.8); /* Stronger color on hover */
}

.contentBoxInOverlay{
    display: flex;
    flex-direction: row;
    gap:2%;
}

.contentBoxInOverlay .assetsInfo {
    color:black;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contentBoxInOverlay .assetsInfo h2{
    color:black;
}

.contentBoxInOverlay .partsXWorkOrders {
    width: 100%;
}

.contentBoxInOverlay .partsXWorkOrders h2{
    color: black;
}

/* AGREGAR PARTES EN ASSET */
.partsInAssets {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 50%;
    overflow-y:auto;
    overflow-x: hidden;
}

.addPartButton {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.addPartButton:hover {
    background-color: #45a049;
}

.partsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.partItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: black;
}

.partName {
    font-size: 1rem;
    color: black;
}

.partValue{
    font-size: 0.8rem;
}

.partButton {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.partButton:hover {
    background-color: #e53935;
}

.workOrdersForAsset {
    margin-top: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* BOTON CREAR NUEVO EQUIPO */

.buttonNewAsset {
    font-family: 'Verdana';
    font-size: 1rem;
    margin-bottom: 10px;
    background-color: #2b84ba;
}

.donutsBox{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

