.reports {
    margin: 2%;
    font-family: 'Lucida Sans';
}

.reports-data-selectors {
    display: flex;
    justify-content: space-between; /* Space between left and right */
    width: 100%; /* Ensure it takes full width */
    color: white;
    font-family: 'Verdana';
}

.date-container {
    flex-shrink: 0; /* Prevent shrinking */
    max-width: 200px; /* Maximum width for the date pickers */
}

.left {
    text-align: left; /* Align text to the left */
}

.right {
    text-align: left; /* Align text to the left */
}

/* Styling the date input */
input[type="date"] {
    padding: 10px; /* Padding inside the input */
    border: 0; /* Green border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    background-color: #344B7A; /* Semi-transparent background */
    color: white; /* Text color */
}

.reports-selectors {
    margin-top: 20px;
    font-size: 1.2rem;
}

.reports-selectors button {
    font-size: 1rem;
    font-family: 'Verdana';
    background-color: #344B7A; /* Semi-transparent background */
}

/* New styles for the cards */
.reports-cards {
    margin-top: 20px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 20px; /* Space between cards */
}

.card {
    background-color: #344B7A;
    padding: 15px; /* Increased padding */
    border-radius: 10px;
    transition: transform 0.2s; /* Animation for hover effect */
}

.card:hover {
    transform: scale(1.05); /* Scale card on hover */
}

.card-content{
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -10px;
}