.mainBoxWorkOrder {
    margin: 2.2%;
    color: white;
    gap: 20px; /* Espacio entre las cajas */
}

.boxWithData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* No es necesario si ya lo tienes en .mainBoxWorkOrder */
}

.boxWithData{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
    margin-top: 20px;
}

.workOrder {
    background-color: #2C4166;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans';
    cursor: pointer;
}

.workOrder h3 {
    margin-top: 0;
    color: #99ebf9;
}

.work-order-status-completed {
background-color: #28a746ab; /* Green */
padding: 5px;
}

.work-order-status-in-progress {
background-color: #ffc107ab; /* Amber */
padding: 5px;
}

.work-order-status-open {
background-color: #dc3546ab; /* Red */
padding: 5px;
}

/* .work-order-search{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: #2C4166;
    color: white;
    border: none;
    margin-bottom: 10px;
} */

.work-order-search::placeholder {
    color: #8595B4; /* Change this to the desired color */
}

.work-order-filter-box {
    display: flex;
    gap: 7px;
}