.aplicacion {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que la aplicación ocupe toda la altura de la ventana */
    width: 100vw; /* Asegura que la aplicación ocupe todo el ancho de la ventana */
}

.navbar {
    flex-shrink: 0; /* Evita que el navbar se reduzca */
}

.funcionalidad {
    flex-grow: 1; /* Hace que `Funcionalidad` ocupe todo el espacio restante */
    overflow: auto; /* Permite el scroll si el contenido es mayor que la pantalla */
    background-color: #1C2039;
    display: flex;
}
